# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Logs
*.log


# OS
.DS_Store
Thumbs.db

.json

.ini

requirements.txt


.md



*.pdf 

=======
# Data
csv_data/
uploads/

*.csv
*.pdf
*.backup_*
